---
import { getEntry, render } from "astro:content";
import Layout from "../layouts/Layout.astro";

const about = await getEntry("pages", "about");
if (!about) throw new Error("About page content is missing.");
const { Content } = await render(about);
---

<Layout title="About Me" bodyClass="" activePath="/about">
  <article class="post-single">
    <header class="post-header">
      <div class="breadcrumbs">
        <a href="/">Home</a>
        <span class="crumb-separator" aria-hidden="true"><iconify-icon icon="mingcute:right-line"></iconify-icon></span>
        <a href="/about">About</a>
      </div>
      <h1 class="post-title entry-hint-parent">{about.data.title}</h1>
    </header>
    <div class="post-content">
      <Content />
    </div>
  </article>
</Layout>
